/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
} 

.bulle {
    background-color: white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: ease-in-out 3s;
}

.bulle:hover {
    border: white solid 1px;
    transform: translateX(-1000px);
}

.bulle > p {
    color: white;
    position: relative;
}

.header {
    background-color: rgb(68, 16, 16);
    height: 20vh;
}

.main {
    background-color: rgb(236, 199, 223);
    flex-grow: 1;
    order: 1;
}

.left {
    background-color: rgb(247, 81, 81);    
    flex-grow: 1;
    order: 2;
}

.right {
    background-color: rgb(197, 48, 88);
    flex-grow: 1;
    order: 3;
}

.footer {
    background-color: rgb(119, 24, 56);
    height: 20vh;
    flex-grow: 1;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

@media screen and (min-width: 768px) {
    .content {
        flex-direction: row;
    }
    .main {
        flex-grow: 2;
        order: 2;
    }
    .left {
        order: 1;
    }
}
*/

body {
    background-color: #FFCBDD; /* Fairy Tale */
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #3E000C; /* Chocolate cosmos */
}

.container {
    margin-top: 50px;
}

button {
    background-color: #FB4B4E; /* Imperial red */
    border: none;
    color: white;
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #7C0B2B; /* Claret */
}

input[type=range] {
    width: 80%;
    margin: 20px;
}

.temp-container {
    background-color: #C5305A; /* Rose red */
    color: white;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
    font-size: 24px;
}